[Desktop Entry]
Icon=text-html
Name=https://app.pluralsight.com/channels/details/916064c6-fe09-4f1a-9641-e34bce96e1c0
Type=Link
URL[$e]=https://app.pluralsight.com/channels/details/916064c6-fe09-4f1a-9641-e34bce96e1c0
